# Gradle
.gradle/
.gradle_local/
build/
**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Android Studio
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
local.properties

# APKs y bundles generados
*.apk
*.aab
*.ap_

# Keystore (nunca subir al repo)
*.jks
*.keystore

# Logs
*.log

# NDK
obj/

# Kotlin
*.class
